@import "ag-grid-community/src/styles/ag-grid.scss";
@import "ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin.scss";

.ag-theme-alpine {
    @include ag-theme-alpine((
        odd-row-background-color: #CFD8DC
    ));
}

button {
    padding: 5px 10px;
    display: inline-block;
    background-color: rgb(206, 238, 240);
    margin: 2px;
    border-radius: 2px;
}

button:hover {
    color: #039be5;
    background-color: #CFD8DC;
  }
  
// button.active {
//     color: #1f36cb;
//   }