<div>
    <div id="main"></div>
    <div id="container"></div>
    <div id="container1"></div>
</div>
<button id="button" >Quantity</button>
<button id="button1">Volume</button>

<table class="top20">
    <h1>Top 20 most popular objcets</h1>
    <br>
    <tr>
        <th class="header" *ngFor="let column of headers">
            {{column}}
        </th>
    </tr>

    <tr *ngFor="let row of rows">
        <td *ngFor="let column of headers">
            {{row[column]}}
        </td>
    </tr>
</table>